<div ng-controller="ctrl-category">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-primary shadow">
				<div class="card-header" style="display: flex; justify-content: space-between">
					<h3 class="m-0 font-weight-bold text-primary">Category Management</h3>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="title">Category id</label>
						<input ng-model="form.categoryId" class="form-control">
					</div>
					<div class="form-group">
						<label for="title">Category logo</label>
						<input ng-model="form.categoryLogo" class="form-control">
					</div>
				</div>
				<div class="card-footer">
					<button ng-click="create()" class="btn btn-success btn-sm">Insert</button>
					<button ng-click="update()" class="btn btn-warning btn-sm">Update</button>
					<button ng-click="delete(form.categoryId)" type="submit" class="btn btn-danger btn-sm">Delete</button>
					<button ng-click="reset()" class="btn btn-primary btn-sm">Reset</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="card shadow mt-3">
		<div class="card-header">
			<h3 class="m-0 font-weight-bold text-primary">List Categories</h3>
		</div>
		<div class="card-body">
			<table id="example1" class="table table-bordered table-striped text-center">
				<thead>
					<tr>
						<th>Category id</th>
						<th>Category logo</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="category in items">
						<td>{{category.categoryId}}</td>
						<td>{{category.categoryLogo}}</td>
						<td>
							<button ng-click="edit(category.categoryId)" class="btn btn-light btn-sm">Edit</button>
							<button ng-click="delete(category.categoryId)" class="btn btn-danger btn-sm">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
</div>
